// text

.text-white{
  color: #fff;
}

// 顯示

.block{
  display: block;
}

.hidden{
  display: none;
}

.inline-block{
  display: inline-block;
}

.m-auto{
  margin: auto;
}

.overflow-hidden{
  overflow: hidden;
}

// flex

.flex{
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.items-start{
  align-items: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.content-start{
  align-content: flex-start;
}

