@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: block;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1, h2, h3 {
  font-weight: bold; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* text style */
.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #aa0601; }

.m-auto {
  margin: auto; }

.overflow-hidden {
  overflow: hidden; }

.auto-height {
  height: 100%; }

.d-none {
  display: none !important; }

.d-block {
  display: block; }

.inline-block {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

body {
  font-family: Roboto, "Noto Sans", Arial, sans-serif; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
      padding: 40px 15px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 546px;
      padding: 32px 15px; } }

.title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .title {
      font-size: 32px; } }
  @media (max-width: 576px) {
    .title {
      font-size: 24px; } }

header {
  background-color: #aa0601;
  padding: 30px 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 576px) {
    header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  header a {
    color: #fff; }
  @media (max-width: 576px) {
    header .logo {
      text-align: center;
      padding: 10px 0; }
      header .logo img {
        max-width: 48px; } }
  @media (max-width: 576px) {
    header nav ul {
      width: 100vw; } }
  header nav li {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    @media (max-width: 576px) {
      header nav li {
        width: 50%;
        padding: 0; }
        header nav li a {
          display: block;
          padding: 8px 0;
          text-align: center;
          border: 1px solid #fff; }
          header nav li a:hover {
            color: #aa0601;
            background-color: #fff;
            border: 1px solid #aa0601; } }
    header nav li:after {
      content: "";
      display: block;
      position: absolute;
      top: 35px;
      height: 3px;
      background: #fff;
      pointer-events: none;
      width: 0;
      -webkit-transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      @media (max-width: 576px) {
        header nav li:after {
          display: none; } }
    header nav li:hover:after {
      width: 80%; }

.footer {
  background-color: #aa0601;
  font-weight: 300;
  padding-top: 32px; }
  @media (max-width: 576px) {
    .footer {
      padding-top: 24px; } }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: yellow; }

.footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 576px) {
    .footerTop {
      position: relative; } }

@media (max-width: 576px) {
  .social {
    position: absolute;
    right: 0px;
    top: 30px; } }

.social li {
  margin-left: 32px; }
  @media (max-width: 768px) {
    .social li {
      width: 24px;
      margin-left: 24px; } }

.footerNav {
  font-size: 16px; }
  @media (max-width: 576px) {
    .footerNav {
      display: none; } }
  .footerNav a {
    margin-right: 48px; }
    @media (max-width: 768px) {
      .footerNav a {
        margin-right: 40px; } }

.con {
  font-size: 36px;
  margin-top: 36px; }
  @media (max-width: 768px) {
    .con {
      font-size: 20px; } }
  @media (max-width: 576px) {
    .con {
      font-size: 16px; } }
  .con a {
    margin-bottom: 24px; }
    @media (max-width: 576px) {
      .con a {
        margin-bottom: 6px; } }
  .con img {
    margin-right: 20px; }
    @media (max-width: 768px) {
      .con img {
        margin-right: 10px;
        width: 20px; } }

.copyright {
  padding: 36px 0;
  border-top: 1px solid #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 576px) {
    .copyright {
      margin-top: 24px;
      font-size: 14px;
      padding: 14px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.privacyList li {
  font-size: 14px;
  margin-left: 48px; }
  @media (max-width: 576px) {
    .privacyList li {
      margin-left: 0px;
      margin-top: 8px; } }

@media (max-width: 576px) {
  .privacyList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.banner {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat center center;
  background-size: cover;
  height: 840px;
  color: #650300;
  text-align: right; }
  .banner h1 {
    font-size: 36px;
    line-height: 72px;
    font-weight: 400; }
    @media (max-width: 768px) {
      .banner h1 {
        font-size: 20px;
        line-height: 60px; } }
    @media (max-width: 576px) {
      .banner h1 {
        font-size: 16px;
        line-height: 32px; } }
    .banner h1 span {
      display: block;
      font-size: 64px;
      font-weight: 700; }
      @media (max-width: 768px) {
        .banner h1 span {
          font-size: 48px; } }
      @media (max-width: 576px) {
        .banner h1 span {
          font-size: 32px; } }
  @media (max-width: 576px) {
    .banner {
      height: 394px; } }

.service {
  background-color: #fbf2f2; }
  @media (max-width: 768px) {
    .service {
      padding: 40px 0; } }
  @media (max-width: 576px) {
    .service {
      padding: 32px 0; } }
  .service li {
    width: 255px; }
    @media (max-width: 768px) {
      .service li {
        width: 35%;
        margin: 40px; } }
    @media (max-width: 576px) {
      .service li {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px; } }
  .service img {
    height: 84px;
    width: 84px;
    margin-bottom: 24px; }
  .service h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px; }
  .service p {
    font-size: 16px;
    line-height: 24px; }

.classicProduct .middle {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .classicProduct .middle {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.classicProduct li {
  margin-bottom: 32px; }

.classicProduct .pic {
  width: 60%; }
  @media (max-width: 576px) {
    .classicProduct .pic {
      width: 100%; } }

.classicProduct p {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin: 0 32px; }
  @media (max-width: 768px) {
    .classicProduct p {
      font-size: 24px; } }
  @media (max-width: 576px) {
    .classicProduct p {
      position: absolute;
      text-align: center;
      width: 100%;
      margin: 0; } }
  .classicProduct p img {
    margin-right: 10px; }
    @media (max-width: 768px) {
      .classicProduct p img {
        width: 36px; } }

.seriesProduct {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) no-repeat center center;
  background-size: cover;
  min-height: 705px; }
  @media (max-width: 768px) {
    .seriesProduct {
      min-height: 452px; } }
  @media (max-width: 576px) {
    .seriesProduct ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .seriesProduct li {
    position: relative;
    margin: 15px; }
  .seriesProduct a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .seriesProduct a:hover::before {
    background-color: rgba(255, 255, 255, 0); }
  .seriesProduct p {
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    color: #aa0601;
    pointer-events: none; }
    @media (max-width: 768px) {
      .seriesProduct p {
        font-size: 32px; } }

.recommend li {
  width: 255px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px; }
  .recommend li img {
    border-radius: 4px 4px 0 0;
    width: 100%; }
  @media (max-width: 768px) {
    .recommend li {
      width: calc((100% - 30px)/2);
      margin-bottom: 32px; } }
  @media (max-width: 576px) {
    .recommend li {
      width: 100%; } }

.recommend .content {
  height: 204px;
  padding: 16px;
  color: #212529;
  font-size: 14px;
  line-height: 21px;
  position: relative; }

.recommend .name {
  margin-bottom: 8px; }

.recommend .des {
  font-size: 16px;
  line-height: 24px; }

.recommend .time {
  color: #707070;
  position: absolute;
  bottom: 16px; }

.contact {
  background-color: #fbf2f2; }
  .contact .form {
    max-width: 730px; }
    @media (max-width: 768px) {
      .contact .form {
        max-width: 450px; } }
  .contact .formGroup {
    margin-bottom: 16px; }
  .contact p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }
  .contact input, .contact textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #000;
    padding: 14px 16px; }
  .contact label {
    display: inline-block;
    margin-bottom: 4px; }
    @media (max-width: 768px) {
      .contact label {
        font-size: 14px;
        line-height: 21px; } }
  .contact input[type="checkbox"] {
    display: unset;
    width: auto; }
  .contact .submit {
    width: 350px;
    height: 54px;
    border: 0;
    display: block;
    margin: 40px auto 0 auto;
    background-color: #aa0601;
    color: #fff;
    font-size: 16px; }
    @media (max-width: 768px) {
      .contact .submit {
        width: 210px;
        height: 40px; } }
    @media (max-width: 576px) {
      .contact .submit {
        width: 165px;
        height: 36px; } }
    .contact .submit:hover {
      background-color: #650300; }

.location h2 {
  font-size: 48px;
  border-left: 10px solid #aa0601;
  padding-left: 16px;
  margin-bottom: 65px; }
  @media (max-width: 576px) {
    .location h2 {
      font-size: 28px; } }

.dropdown {
  font-size: 24px; }
  @media (max-width: 576px) {
    .dropdown {
      font-size: 14px; } }
  .dropdown .select {
    font-size: 18px;
    width: 324px;
    padding: 10px;
    color: #495057;
    margin-left: 22px; }
    @media (max-width: 768px) {
      .dropdown .select {
        width: 237px;
        font-size: 16px;
        margin-left: 20px; } }
    @media (max-width: 576px) {
      .dropdown .select {
        width: 277px;
        font-size: 14px;
        margin-left: 12px; } }

.locationInner {
  margin-top: 32px;
  min-height: 422px; }
  @media (max-width: 768px) {
    .locationInner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .locationInner .infor {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 768px) {
      .locationInner .infor {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (max-width: 576px) {
      .locationInner .infor {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .locationInner .infor .pic {
      width: 100%; }
      @media (max-width: 768px) {
        .locationInner .infor .pic {
          width: 50%;
          margin-right: 15px; } }
      @media (max-width: 576px) {
        .locationInner .infor .pic {
          width: 100%;
          margin-right: 0px; } }
    .locationInner .infor .text {
      width: 100%;
      border: 1px solid #00000020; }
      @media (max-width: 768px) {
        .locationInner .infor .text {
          width: 50%;
          margin-left: 15px; } }
      @media (max-width: 576px) {
        .locationInner .infor .text {
          width: 100%;
          margin-left: 0px; } }
  .locationInner h3 {
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #00000020;
    padding: 12px 24px; }
  .locationInner ul {
    padding: 12px 24px;
    font-size: 20px; }
    @media (max-width: 768px) {
      .locationInner ul {
        font-size: 14px; } }
    .locationInner ul li {
      padding: 4px 0; }
      .locationInner ul li img {
        margin-right: 10px; }
  .locationInner .map {
    width: 60%;
    margin-left: 30px; }
    @media (max-width: 768px) {
      .locationInner .map {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px; } }
    .locationInner .map iframe {
      width: 100%;
      height: 100%; }
      @media (max-width: 768px) {
        .locationInner .map iframe {
          min-height: 422px; } }

/*# sourceMappingURL=all.css.map */
