@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: block;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1, h2, h3 {
  font-weight: bold; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* text style */
.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #aa0601; }

.block {
  display: block; }

.hidden {
  display: none; }

.inline-block {
  display: inline-block; }

.m-auto {
  margin: auto; }

.overflow-hidden {
  overflow: hidden; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

body {
  font-family: "Roboto", "Noto Sans", sans-serif; }

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 60px 0 80px 0; }
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 40px; } }
  @media (max-width: 576px) {
    .container {
      padding: 0 15px; } }

.header {
  background-color: #aa0601;
  padding: 30px 5%; }
  .header menu a {
    padding: 5px 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .header menu a:after {
      content: "";
      display: block;
      position: absolute;
      top: 35px;
      height: 3px;
      background: #fff;
      pointer-events: none;
      width: 0;
      -webkit-transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .header menu a:hover:after {
      width: 80%; }

.footer {
  background-color: #aa0601;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }
  .footer .footerNav li {
    padding-right: 48px; }
  .footer .social li {
    padding-left: 32px; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: antiquewhite; }
  .footer .con {
    margin: 20px 0 24px 0; }
    .footer .con a {
      font-size: 36px;
      line-height: 54px;
      margin-top: 16px; }
    .footer .con img {
      margin-right: 20px; }
  .footer .copyright {
    border-top: 1px solid #fff;
    padding-top: 32px; }
    .footer .copyright .privacyList {
      font-size: 14px;
      line-height: 21px; }
      .footer .copyright .privacyList li {
        padding-left: 48px; }

.title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .title {
      font-size: 32px;
      line-height: 48px; } }

.banner {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat center center;
  background-size: cover;
  height: 840px;
  color: #650300;
  text-align: right; }
  .banner h1 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 400; }
    @media (max-width: 768px) {
      .banner h1 {
        font-size: 20px;
        line-height: 30px; } }
    .banner h1 span {
      display: block;
      font-size: 64px;
      line-height: 96px;
      font-weight: 700; }
      @media (max-width: 768px) {
        .banner h1 span {
          font-size: 48px;
          line-height: 72px; } }
  @media (max-width: 768px) {
    .banner {
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat 43% center; } }

.service {
  background-color: #fbf2f2; }
  .service li {
    width: 255px; }
    @media (max-width: 768px) {
      .service li {
        width: 35%;
        margin: 40px; } }
  .service img {
    height: 84px;
    width: 84px;
    margin-bottom: 24px; }
  .service h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px; }
  .service p {
    font-size: 16px;
    line-height: 24px; }

.classicProduct li {
  margin-bottom: 32px; }

.classicProduct .pic {
  width: 60%; }

.classicProduct p {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin: 0 32px; }
  .classicProduct p img {
    margin-right: 10px; }

.seriesProduct {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) no-repeat center center;
  background-size: cover;
  height: 705px; }
  .seriesProduct li {
    position: relative;
    max-width: 50%; }
  .seriesProduct a {
    width: 540px; }
    .seriesProduct a::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .seriesProduct a:hover::before {
      background-color: rgba(255, 255, 255, 0); }
  .seriesProduct p {
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    color: #aa0601;
    pointer-events: none; }

.recommend li {
  width: 255px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px; }
  .recommend li img {
    border-radius: 4px 4px 0 0;
    width: 100%; }
  @media (max-width: 768px) {
    .recommend li {
      width: calc((100% - 30px)/2);
      margin-bottom: 32px; } }

.recommend .content {
  height: 204px;
  padding: 16px;
  color: #212529;
  font-size: 14px;
  line-height: 21px;
  position: relative; }

.recommend .name {
  margin-bottom: 8px; }

.recommend .des {
  font-size: 16px;
  line-height: 24px; }

.recommend .time {
  color: #707070;
  position: absolute;
  bottom: 16px; }

.contact {
  background-color: #fbf2f2; }
  .contact .form {
    max-width: 730px; }
    @media (max-width: 768px) {
      .contact .form {
        max-width: 450px; } }
  .contact .formGroup {
    margin-bottom: 16px; }
  .contact p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }
  .contact input, .contact textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #000;
    padding: 14px 16px; }
  .contact label {
    display: inline-block;
    margin-bottom: 4px; }
    @media (max-width: 768px) {
      .contact label {
        font-size: 14px;
        line-height: 21px; } }
  .contact input[type="checkbox"] {
    display: unset;
    width: auto; }
  .contact .submit {
    width: 350px;
    height: 54px;
    border: 0;
    display: block;
    margin: 40px auto 0 auto;
    background-color: #aa0601;
    color: #fff;
    font-size: 16px; }
    .contact .submit:hover {
      background-color: #650300; }

/*# sourceMappingURL=all.css.map */
